/* Home Page Styling */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.home-container p {
  color: black;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  gap: 20px;
  
}

.button {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white;
}

.login-btn {
  background: #ff6b6b;
}

.register-btn {
  background: #48c78e;
}

.button:hover {
  opacity: 0.8;
}
